* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;

}



body {
    font-family: montserrat;
    padding: 10px;
    background: rgb(246, 199, 240);
    background: radial-gradient(circle, rgba(246, 199, 240, 1) 0%, rgba(177, 224, 250, 1) 100%);
}

nav {
    height: 190px;
    width: 100%;

}

label.logo {
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;

}

#aboutme {
    font-size: 1em;
    word-wrap: break-word;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-size: 25px;
    color: black;
}


a:hover {
    transition: .5s;
    color: #000;
    font-weight: 1200;
}

.checkbtn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width:952px) {
    label.logo {
        font-size: 30px;
    }

    nav ul li a {
        font-size: 16px;

    }
}

@media (max-width:858px) {
    .checkbtn {
        display: block;
    }
    ul{
        position:sticky;
    }
    ul {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 80px;
        text-align: center;
        left: -100%;
        transition: all .5s;
        z-index: 10;
        background-color: rgb(246, 199, 240);
        background: radial-gradient(circle, rgba(246, 199, 240, 1) 0%, rgba(177, 224, 250, 1) 100%);

    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    #background:target~ul{
        left:-100%;
    }
    #home:target~ul{
        left:-100%;
    }
    #skills:target~ul{
        left:-100%;
    }
    #projects:target~ul{
        left:-100%;
    }
    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
    }

    #check:checked~ul {
        left: 0;

    }
}

div {
    display: inline-block;
}

.images {
    position: relative;
    width: auto;
}

.animated-blob-image {
    border-radius: 23% 31% 30% 67% / 72% 47% 40% 26%;
    width: 450px;
    height: auto;
    background: #f1b0f9;
    opacity: 0.65;
    overflow: hidden;
    box-shadow: 0.9px 0.9px 0.9x 0.9px rgba(0, 0, 0, 0.6);
    animation: animateImg 8s linear infinite;
    margin: 50px;
    width: 350px;
    height: 400px;
    display: inline-block;
    margin: auto;
}

.images .profile {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    height: 100%;
    margin: auto;
    padding: auto;

}
@keyframes animateImg {

    0%,
    100% {
        border-radius: 69% 31% 30% 67% / 72% 47% 40% 26%;
    }

    34% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}

.myInfo {
    width: auto;
    word-wrap: normal;
    margin-top: 10px;
    position: relative;

}

.links {
    position: absolute;
    left: 25vw;
    margin: 25px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap :3vw;
}

.about {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.about .static-text {
    font-size: 4em;
    font-weight: 400;
    width: auto;
}

.container {
    display: inline-block;
}

.about .dynamic-text {
    margin: 0 7px;
    font-size: 4em;
    width: 100%;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 4s steps(12) infinite,
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

.back {
    width: 100%;
    padding: 35px 10%;
    margin: 30px;
}


main.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;

}

.col .contents {
    padding: 0px 30px;
    border-left: 2px solid;

}

.col header.title {
    padding: 0px 0px 20px 30px;
}

.col .contents .box {
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background: #f1b0f9;
    cursor: pointer;
    transition: all 1s;
    margin-bottom: 20px;
}

.col .contents .box:hover {
    box-shadow: 0px 3px 12px 0px;
    border: 1px solid transparent;
}

/* .col .contents .box::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background: #000;
    border: 2px solid white;
} */

.box h4 {
    position: relative;
}

.box h3 {
    font-size: 19px;
    padding: 10px 0px 6px;
}

.box p {
    line-height: 1.2;
    font-size: 17px;
}

@media (max-width:768px) {
    main.row {
        grid-template-columns: 1fr;
    }

    .row .col :nth-child(2) {
        margin-top: 30px;

    }
}

.cssFont_1 {
    font-family: 'Dancing Script', cursive;
    font-size: 65px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-left: 2.2vw;
    margin-right: 50px;
}

.skills {
    display: flex;
    place-items: center;
    flex-wrap: wrap;
}

::selection {
    color: #fff;
    background: rgb(126, 20, 113);
    background: radial-gradient(circle, rgba(126, 20, 113, 1) 0%, rgba(53, 80, 251, 1) 100%);
}

.skills-bar {
    height:500px;
    padding: 25px 30px;
    border-radius: 10px;
    display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    align-items: center;
    gap: 20%;
    margin: 10px;
}
#mainpage{
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
}
.bar:nth-child(-n+4) {
    justify-self: start;
  }
  .bar:nth-child(n+5) {
    justify-self: end;
  }
.skill-bars .bar {
    margin: 20px 0;
}

.skills-bar .bar:first-child {
    margin-top: 0px;
}

.skills-bar.bar .info {
    margin-bottom: 5px;
}

.skills-bar .bar .info span {
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.skills-bar .bar .progress-line {
    height: 10px;
    width:30vw;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
        0 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    -origin: left;
    background: rgb(14, 77, 158);
    background: linear-gradient(90deg, rgba(14, 77, 158, 1) 0%, rgba(144, 13, 160, 1) 51%, rgba(14, 77, 158, 1) 100%);
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span::before {
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progress-line span::after {
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.progress-line.c span::after {
    content: "80%";
}

.progress-line.java span::after {
    content: "75%";
}

.progress-line.html span::after {
    content: "80%";
}

.progress-line.css span::after {
    content: "65%";
}

.progress-line.js span::after {
    content: "70%";
}

.progress-line.react span::after {
    content: "80%";
}

.progress-line.node span::after {
    content: "80%";
}

.progress-line.express span::after {
    content: "50%";
}

.bar .progress-line.c span {
    width: 80%;
}

.bar .progress-line.java span {
    width: 75%;
}

.bar .progress-line.html span {
    width: 80%;
}

.bar .progress-line.css span {
    width: 65%;
}

.bar .progress-line.js span {
    width: 70%;
}

.bar .progress-line.react span {
    width: 80%;
}

.bar .progress-line.node span {
    width: 80%;
}

.bar .progress-line.express span {
    width: 50%;
}

#projects {
    display: flex;
    flex-wrap: wrap;
}

.projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    z-index: 1;
    flex-wrap: wrap;
    margin-left: 15px;
}

.projects .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin-top:35px;
    margin-left:5vw;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.projects .card .content {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
   
}
.projects .card:hover {
    transition: 1s;
    transform: translateY(-30px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.projects .card .content h2 {
    position: absolute;
    top: -20px;
    right: 30px;
    font-size: 5em;
    color: rgba(255, 255, 255, 5);
    pointer-events: none;
    margin: 4.5px;
}

.projects .card .content h3 {
    font-size: 1.8em;
    z-index: 1;
}

.projects .card .content p {
    font-size: 1em;
    font-weight: 300;

}

.projects .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background-color: #f1b0f9;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);


}

.cssFont_2 {
    font-family: 'Dancing Script', cursive;
    font-size: 65px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    margin-left: 2.2vw;
}


