* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
html{
    padding: 0;
    margin: 0;

}


body {
    font-family: montserrat;
    background: rgb(246, 199, 240);
    background: radial-gradient(circle, rgba(246, 199, 240, 1) 0%, rgba(177, 224, 250, 1) 100%);
}

nav {
    height: 11.875rem;
    width: 100%;
    margin: auto;
    align-content:center;

}

label.logo {
    font-size: 2.1875rem;
    line-height: 5rem;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 1.25rem;

}

#aboutme {
    font-size: 1.5em;
    overflow-wrap: break-word;
}

nav ul li {
    display: inline-block;
    line-height: 5rem;
    margin: 0 0.3125rem;
    font-size: 1.5625rem;
    color: black;
}


a:hover {
    transition: .5s;
    color: #000;
    font-weight: 1200;
}

@media (max-width:952px) {
    label.logo {
        font-size: 1.875rem;
    }

    nav ul li a {
        font-size: 1rem;

    }
}

@media (max-width:858px) {
    ul {
       
        display: none;
    }
}

/* div {
    display: inline-block;
} */

.images {
    position: relative;
    width: auto;
    display: inline-block;

}

.animated-blob-image {
    border-radius: 23% 31% 30% 67% / 72% 47% 40% 26%;
    width: 28.125rem;
    height: auto;
    background: #f1b0f9;
    opacity: 0.65;
    overflow: hidden;
    box-shadow: 0.05625rem 0.05625rem 0.05625rem 0.05625rem rgba(0, 0, 0, 0.2);
    animation: animateImg 8s linear infinite;
    margin: 3.125rem;
    width: 21.875rem;
    height: 25rem;
    display: inline-block;
    margin: auto;
}

.images .profile {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    height: 100%;
    margin: auto;
    padding: auto;
    display: inline-block;

}
#home{
    padding:0.75gitrem;
}
.navbar{
    position: sticky;
    display: inline-block;

}
@keyframes animateImg {

    0%,
    100% {
        border-radius: 69% 31% 30% 67% / 72% 47% 40% 26%;
    }

    34% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}

.myInfo {
    width: auto;
    word-wrap: normal;
    margin-top: 0.625rem;
    position: relative;
    display: inline-block;

}



.about {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}



.container {
    display: inline-block;
}

.about .static-text {
    font-size: 4em;
    font-weight: 400;
    width: auto;
}


.about .dynamic-text {
    margin: 0 0.4375rem;
    font-size: 4em;
    width: 105%;
    border-right: 0.3125rem solid;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 4s steps(11) infinite,
        cursor .4s step-end infinite alternate;
}
.about .dynamic-text {
    margin: 0 0.4375rem;
    font-size: 4em;
    width: 105%;
    border-right: 0.3125rem solid;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 4s steps(16) infinite,
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

.back {
    padding: 2.1875rem 10%;
    margin: 0.1875rem;
    width:90vw
}


main.row {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-column-gap: 1.25rem;

}

.col .contents {
    padding: 0px 1.875rem;
    border-left: 0.125rem solid;

}

.col header.title {
    padding: 0px 0px 1.25em 1.875rem;

}

.col .contents .box {
    position: relative;
    display: inline-block;
    padding: 1.25rem;
    border: 0.0625rem solid #eaeaea;
    background: #f1b0f9;
    cursor: pointer;
    transition: all 1s;
    margin-bottom: 1.25rem;
}

.col .contents .box:hover {
    box-shadow: 0px 0.1875rem 0.75rem 0px;
    border: 0.0625rem solid transparent;

}


.box h4 {
    position: relative;

}

.box h3 {
    font-size: 1.1875rem;
    padding: 0.625rem 0px 0.375rem;
}

.box p {
    line-height: 1.2;
    font-size: 1.0625rem;
}

@media (max-width:768px) {
    main.row {
        grid-template-columns: 1fr;
        display: inline-block;

    }

    .row .col :nth-child(2) {
        margin-top: 1.875rem;
        display: inline-block;


    }
}

.cssFont_1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4.0625rem;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-left: 2.2vw;
    margin-right: 3.125rem;
}

.skills {
    display: flex;
    place-items: center;
    flex-wrap: wrap;
}

::selection {
    color: #fff;
    background: rgb(126, 20, 113);
    background: radial-gradient(circle, rgba(126, 20, 113, 1) 0%, rgba(53, 80, 251, 1) 100%);
}

.skills-bar {
    margin-left:2.5rem;
    height:31.25rem;
    padding: 1.5625rem 1.875rem;
    border-radius: 0.625rem;
    display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    align-items: center;
    gap: 20%;
    margin-right: 0.625rem;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
}
#mainpage{
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    width:99%;
}
.bar:nth-child(-n+4) {
    justify-self: start;
  }
  .bar:nth-child(n+5) {
    justify-self: end;
  }
.skill-bars .bar {
    margin: 1.25rem 0;
}

.skills-bar .bar:first-child {
    margin-top: 0px;
}

.skills-bar.bar .info {
    margin-bottom: 0.3125rem;
}

.skills-bar .bar .info span {
    font-size: 1.5625rem;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.skills-bar .bar .progress-line {
    height: 0.625rem;
    width:30vw;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.05),
        0 0.0625rem rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 0.625rem;
    transform: scaleX(0);
    -origin: left;
    background: rgb(14, 77, 158);
    background: linear-gradient(90deg, rgba(14, 77, 158, 1) 0%, rgba(144, 13, 160, 1) 51%, rgba(14, 77, 158, 1) 100%);
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span::before {
    position: absolute;
    content: "";
    bottom: -0.625rem;
    right: 0;
    height: 0;
    width: 0;
    border: 0.4375rem solid transparent;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progress-line span::after {
    position: absolute;
    bottom: -1.75rem;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 0.0625rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 0.1875rem;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.progress-line.c span::after {
    content: "80%";
}

.progress-line.java span::after {
    content: "75%";
}

.progress-line.html span::after {
    content: "80%";
}

.progress-line.css span::after {
    content: "65%";
}

.progress-line.js span::after {
    content: "70%";
}

.progress-line.react span::after {
    content: "80%";
}

.progress-line.node span::after {
    content: "80%";
}

.progress-line.express span::after {
    content: "50%";
}

.bar .progress-line.c span {
    width: 80%;
}

.bar .progress-line.java span {
    width: 75%;
}

.bar .progress-line.html span {
    width: 80%;
}

.bar .progress-line.css span {
    width: 65%;
}

.bar .progress-line.js span {
    width: 70%;
}

.bar .progress-line.react span {
    width: 80%;
}

.bar .progress-line.node span {
    width: 80%;
}

.bar .progress-line.express span {
    width: 50%;
}

#projects {
    display: flex;
    flex-wrap: wrap;
}

.projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75rem;
    z-index: 1;
    flex-wrap: wrap;
    margin-left: 0.9375rem;
}

.projects .card {
    position: relative;
    width: 17.5rem;
    height: 25rem;
    margin: 2.1875rem;;
    margin-left:5vw;
    box-shadow: 1.25rem 1.25rem 3.125rem rgba(0, 0, 0, 0.5);
    border-radius: 0.9375rem;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.5);
    border-left: 0.0625rem solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.projects .card .content {
    padding: 1.25rem;
    text-align: center;
    transition: 0.5s;
   
}
.projects .card:hover {
    transition: 1s;
    transform: translateY(-30px);
    box-shadow: 0 0.625rem 2.5rem rgba(0, 0, 0, 0.4);
}

.projects .card .content h2 {
    position: absolute;
    top: -1.25rem;
    right: 1.875rem;
    font-size: 4.5em;
    color: rgba(255, 255, 255, 5);
    pointer-events: none;
    margin: 0.9375rem;
}

.projects .card .content h3 {
    font-size: 1.8em;
    z-index: 1;
}

.projects .card .content p {
    font-size: 1em;
    font-weight: 300;

}

.projects .card .content a {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1.25rem;
    margin-top: 1rem;
    background-color: #f1b0f9;
    border-radius: 1.25rem;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.5);


}

.cssFont_2 {
    font-family: 'Dancing Script', cursive;
    font-size: 4.0625rem;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    margin-left: 2.2vw;
}
.links {
    position: absolute;
    padding: 0.3125rem;
    display: flex;
    gap :3vw;
    margin-left:43vw;

}

footer {
    padding-bottom:3.5rem ;
    padding-top:3.5rem ;
    background-color: black;
    height: 10rem;
    border: #000;
    border-bottom: 2rem;
  }
  

